{{ define "header_css" }}
<style>
  .flogo {
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  font-size: 2rem;
  }
  .content-gallery img {
    padding-bottom: 1em;
  }
</style>
{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<h1 class="title">{{.Title}}</h1>
<div class="content {{if .Site.Params.enable_anchor_link}}{{ "anchor-link-enabled" }}{{ end }}">
  {{.Content}}
</div>
</div>
{{ end }}